* {
    FONT-WEIGHT: 100;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100vh;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    grid-template-rows: min-content auto min-content;
    text-align: center;
    background-color: whitesmoke;
    align-content: center;
    justify-content: space-evenly;
}

/* for beautification purpose */

header, footer {
    background-color: gainsboro;
    font-size: 1.5rem;
    padding: 10px;
}

img {
    /* height: 400px;
    max-width: 400px; */
    /* border: 10px; */
    /* border-color: black; */
    /* border-style: dashed; */
    /* padding: 10px; */
    margin: 20px;
    /* flex: 1 auto; */
    /* flex-flow: row; */
}

.gallery {
    background-color: whitesmoke;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
}

span {
    display: inline-block;
    line-height: 1.1;
    text-align: center;
}

/* NAVBAR */
nav > ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 10px 20px;
}

nav > ul > li > a:hover {
    color: rgb(80, 0, 0);
    background-color: rgb(230, 230, 230);
    border-radius: 15px;
}

a:link {
    color: darkslategray;
    text-decoration: none;
}

a:visited {
    color: rgb(101, 32, 153);
    text-decoration: none;
}

a:active {
    color: rgb(50, 0, 0);
    text-decoration: underline;
}

/* a:hover {
    color: brown;
    text-decoration: none;
} */
/* .active {
    text-decoration: underline;
    text-decoration-style: solid;
} */


.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 1.5rem;
    color: darkslategray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 1.5rem;  
    border: none;
    outline: none;
    color: darkslategray;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(220, 220, 220);
    border-radius: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 300px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}